<<<<<<< HEAD
ul[aria-label='Pagination'] {
=======
ul[aria-label=Pagination] {
>>>>>>> 2bb8af4d48f07a739962f3b97c46e15138261b4d
    display: flex;
    flex-direction: row;
    gap: 5px;
    list-style-type: none;
    padding: 0;
}
<<<<<<< HEAD
ul[aria-label='Pagination'] li {
=======
ul[aria-label=Pagination] li {
>>>>>>> 2bb8af4d48f07a739962f3b97c46e15138261b4d
    background-color: blue;
    padding: 3px;
    width: 25px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
<<<<<<< HEAD
ul[aria-label='Pagination'] li.selected {
    background-color: blueviolet;
}
=======
ul[aria-label=Pagination] li.selected {
    background-color: blueviolet;
}
>>>>>>> 2bb8af4d48f07a739962f3b97c46e15138261b4d
