.tablePage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tableCard {
    overflow: auto;
    max-height: 80vh;
}
.modalBody {
    overflow: auto;
    height: 70vh;
}
.sticky {
    position: sticky;
    top: 0;
    left: 0;
}
.navigateButton {
    background-color: blue;
    color: white;
    max-width: fit-content;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
button.addButton {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.loadingSpinner {
    position: absolute;
    display: flex;
    width: 97%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    background-color: rgba(128, 128, 128, 0.432);
    div {
        width: 50px;
        height: 50px;
    }
}
.UserTableSortButton {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: min-content;
    div {
        height: 10px;
        font-size: 10px;
        cursor: pointer;
    }
}
